
:root{
    --green-50: #9eff00;
}
%container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
}

.green-button{
    border-radius: 10px;
    padding: 18px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green-50);
}